body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.reveal {
    font-size: 30px;
}
.reveal section h1 {
    color: rgb(136, 74, 74); font-size: 2em;
    padding-bottom: 20px;
}

.math {
    color:rgb(9, 77, 26)
}

img {
    height: 300px;
}

.theorem {
    background-color: rgb(204, 180, 180);
    padding: 10px 40px;
    text-align: left;
    margin: 5px 0;
}

.theorem h2 {
    text-align: center;
}

.proof {
    text-align: left;
    padding: 5px 20px;
    margin: 5px 0;
    font-size: 0.8em;
    background-color: rgb(197, 192, 228);
}

