body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.reveal {
    font-size: 30px;
}
.reveal section h1 {
    color: rgb(121, 74, 3); font-size: 2em;
    padding-bottom: 20px;

}

.math {
    color:rgb(10, 100, 22)
}

img {
    max-width: 400px;
}

.theorem {
    background-color: rgb(243, 240, 202);
    padding: 10px 40px;
    text-align: left;
    margin: 5px 0;
}

.theorem h2 {
    text-align: center;
}

.proof {
    text-align: left;
    padding: 5px 20px;
    margin: 5px 0;
    font-size: 0.8em;
    background-color: rgb(218, 215, 238);
}

.img_stack p, .img_stack img {
    margin: 0 10px;
}

